<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Neighbor Ninja.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EB762871D23BAC1005B7B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB7629E1D23BAC1005B7B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB762A91D23BAC1005B7B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
