<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>57777513354-ja3eo8h2oo25df9qfe9lm6vcsqsboeer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57777513354-ja3eo8h2oo25df9qfe9lm6vcsqsboeer</string>
	<key>API_KEY</key>
	<string>AIzaSyD_09iC9UmrgS6d1IzW1L2RKQBtLMHo6xc</string>
	<key>GCM_SENDER_ID</key>
	<string>57777513354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getnninja.NeighborNinja</string>
	<key>PROJECT_ID</key>
	<string>neighbor-ninja</string>
	<key>STORAGE_BUCKET</key>
	<string>neighbor-ninja.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:57777513354:ios:7aa3fd9e9f19f078</string>
	<key>DATABASE_URL</key>
	<string>https://neighbor-ninja.firebaseio.com</string>
</dict>
</plist>